<form class="row">
    <mat-card>
        <mat-card-content>

            <div class="row">
                <h1 class="mx-auto">Sign in</h1>
            </div>
            <mat-divider class=""></mat-divider>
            <div class="field">
                <div>
                    <i class="fas fa-user-tie"></i>
                    <input class="w-50 p-2" />
                </div>
            </div>
            <div class="field">
                <div>
                    <i class="fas fa-key"></i>
                    <input class="w-100 p-2" type="password" />
                </div>
            </div>
            <div class="field">
                <div>
                    <button mat-flat-button class="w-100 mx-auto my-2" color="primary">Login</button>
                </div>
            </div>
            <div class="field">
                <div>
                    <button mat-flat-button class="w-75 mx-auto my-2" color="accent" [routerLink]="['/signup']">Create account</button>
                </div>
            </div>
        </mat-card-content>
        <mat-divider></mat-divider>
        <mat-card-actions>
            <div class="row">
                <div class="social">
                    <div class="row">
                        <div>
                            <button style="background: #316CAD" mat-fab><i class="fab fa-facebook-f"></i></button>
                        </div>
                        <div>
                            <button style="background: #F63D3A" mat-fab><i class="fab fa-google"></i></button>
                        </div>
                        <div>
                            <button style="background: #007BB1" mat-fab><i class="fab fa-linkedin-in"></i></button>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card-actions>
    </mat-card>

</form>