


@import "../node_modules/bootstrap/scss/bootstrap-grid.scss";
@import "../node_modules/bootstrap/scss/utilities/sizing";

@import "./assets/css/material-style.scss";

html,
body {
  font-family: exo2, "sans-serif";
  color: $dark;
  height: 100%;
  margin: 0;
  background: map-get($app-palette, 50);
}



.pointer {
  cursor: pointer;
}
